body {
    margin: 0;
    padding: 0;
    background: var(--background-color);
}

.container {
    position: relative;
    width: 92%;
    max-width: 430px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: var(--background-color);
    overflow: hidden;
    padding: 0 10px;
}